.main-content {
    padding: 20px;
    margin-top: 100px;
    text-align: center;
}

.cita-list {
    margin: 0 auto;
    width: fit-content;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

.cita-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(170, 97, 14, 0.493);
    color: #ffffff;
    text-align: center;
}

.cita-item h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.cancel-button {
    display: inline-block; 
    width: auto; 
    padding: 10px 20px; 
    background-color: rgba(170, 97, 14, 0);
    color: rgba(255, 255, 255, 0.726);
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid rgba(82, 47, 7, 0.726);
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}


.cancel-button:hover {
    background-color: #ffffff; 
    color: rgba(82, 47, 7, 0.726);
    border: 1px solid rgba(82, 47, 7, 0.726);
}

h1{
    text-align: center;
    color: rgba(82, 47, 7, 0.726);
    margin-top: 50px;
    margin-bottom: 50px;
}

h4 {
    color:rgba(82, 47, 7, 0.795);
    font-family: Arial, sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase;
    margin-bottom: 20px; 
  }
  .cancel-button2 {
    display: inline-block; 
    width: auto; 
    padding: 10px 20px; 
    background-color: rgba(170, 97, 14, 0.493);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    border:none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}


.cancel-button2:hover {
    background-color: #ffffff; 
    color: rgba(82, 47, 7, 0.726);
    border: 1px solid rgba(82, 47, 7, 0.726);
}
#citaForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#citaForm label {
    display: block;
    margin-bottom: 5px;
}

#citaForm input[type="date"],
#citaForm input[type="time"],
#citaForm input[type="text"],
#citaForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#citaForm textarea {
    resize: vertical;
}

.cancel-button2 {
    width: 100%;
    padding: 10px;
    background-color: rgba(82, 47, 7, 0.726);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.cancel-button2:hover {
    background-color: #ffffff;
    color: rgba(82, 47, 7, 0.726);
    border: 1px solid rgba(82, 47, 7, 0.726);
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(82, 47, 7, 0.726);
    color: #ffffff;
    margin-top: 20px;
    padding: 20px;

  }
  .footer {
    margin-top: 20px;
  }
  .footer-content {
    text-align: center;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-links a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .footer-links a:hover {
    color: #999999;
  }
  .footer-links li:hover {
    cursor: pointer;
}
.cita-list2 {
    margin: 0 auto;
    width: fit-content;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
}

.cita-item2 {
    margin-bottom: 70px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(170, 97, 14, 0.493);
    color: #ffffff;
    text-align: center;
}

.cita-item2 h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
.gif-container {
    border-radius: 20px; 
    overflow: hidden;
    width: 200px; 
    height: auto; 
    text-align: center;
    margin: 0 auto; 
}

.gif-container img {
    width: 100%;
    height: auto;
    text-align: center;
}
.search-container {
    text-align: center;
    margin-top: 200px; 
    
}

.search-bar form {
    display: inline-block;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 300px; 
    border-radius: 5px;
    border: 1px solid rgba(170, 97, 14, 0.493);
    color:rgba(170, 97, 14, 0.493);
}

.search-bar button {
    display: inline-block; 
    width: auto; 
    padding: 10px 20px;
    background-color: rgba(82, 47, 7, 0.726);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;

}

.search-bar button:hover {
    background-color: #ffffff; 
    color: rgba(82, 47, 7, 0.726);
    border: 1px solid rgba(82, 47, 7, 0.726);
}

input[type="text"],
select {
    width: calc(100% - 0px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
input[type="email"],
select {
    width: calc(100% - 0px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="password"],
select {
    width: calc(100% - 0px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 16px;
    padding-right: 30px;
}
#citaForm input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
#citaForm input[type="url"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}