@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(82, 47, 7, 0.726);
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
}
input[type="submit"]:hover {
    background-color: rgba(82, 47, 7, 0.096);
    color: rgba(82, 47, 7, 0.726);
    border: 1px solid rgba(82, 47, 7, 0.726);
}

body {
  margin: 0;
  padding: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.navbar {
  display: flex;
}

.menu-1 {
  background-color: rgba(82, 47, 7, 0.726);
  margin-right: 5%;
  width: 17%;
  min-width: 650px; 
  max-width: 200px; 
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 40px;
}

.logo-1 {
  margin-right: 3%; 
  width: 12%; 
  max-width: 50px; 
  height: auto; 
  border-radius: 50%;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 30px;
  color: rgb(255, 255, 255);
}

.menu .navbar ul li a:hover {
  color: rgb(192, 217, 255);
}

#menu {
  display: none;
  margin-right: 5%; 
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.btn-1 {
    background-color: rgba(82, 47, 7, 0.726);
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #ccc;
    width: 250px; 
    height: 50px;
    padding: 15px 20px;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}


.btn-1:hover {
  color: rgb(192, 217, 255);
  cursor: pointer;
}

.menu-1,
.btn-1 {
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
  .menu-1 {
    width: 150px;
  }

  .logo-1 {
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }

  .menu .navbar ul li a {
    padding: 20px;
  }
}

@media screen and (max-width: 576px) {
  .menu-1 {
    width: 120px; 
    min-width: 100px;
    max-width: 150px; 
  }

  .logo-1 {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  .menu .navbar ul li a {
    padding: 15px;
    font-size: 16px;
  }
}

.container-icon {
  display: flex;
  margin-left: 5%; 
}

.container-cart-icon {
  position: relative;
}

.icon-cart {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.count-products {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgba(82, 47, 7, 0.726);
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}

.hidden-cart {
  position: relative;
}

.productos{
  padding: 10%;
}

.productos h2 {
    margin-bottom: 20px;
}

.productos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.productos ul li {
    display: inline-block;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 30px;
    transition: all 0.3s ease; 
}
.productos ul li:hover {
    transform: translateY(-5px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.productos ul li a {
    color: #000;
}

.productos ul li a img {
    width: 250px; 
    height: 250px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.productos ul li h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.productos ul li p {
    font-size: 16px;
}

.producto-carrito img {
  max-width: 100px;
  max-height: 100px;
}

.boton {
    background-color: rgba(82, 47, 7, 0.726);
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    text-decoration: none;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
    cursor: pointer; 
}

.boton:hover {
    background-color: #ffffff; 
    color: rgba(82, 47, 7, 0.726);
    border: 1px solid rgba(82, 47, 7, 0.726);
}
.boton2 {
  background-color:#ffffff; 
  color:  rgba(82, 47, 7, 0.726);
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid rgba(82, 47, 7, 0.726);
  margin-top: 20px;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  cursor: pointer; 
}

.boton2:hover {
  background-color: rgba(82, 47, 7, 0.726);
  color: #fff;
  border: none;
}

.boton-pagar{
  width: 50px;
  height: 30px;
  background-color:  rgba(82, 47, 7, 0.726);
  border-radius: 30px;
  color: white;
  border: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(82, 47, 7, 0.726);
    color: #ffffff;
    margin-top: 20px;
    padding: 20px;

  }
  .footer {
    margin-top: 20px;
  }
  .footer-content {
    text-align: center;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-links a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .footer-links a:hover {
    color: #999999;
  }
  .footer-links li:hover {
    cursor: pointer;
}
.img-corner {
    position: absolute;
    width: 30px; 
    bottom: 5px; 
    right: 5px;
    border-radius: 20px;
}
.text-container {
  background-color: none;
  border-radius: 10px;
  padding: 15px;
  max-width: 1000px;
  text-align: left;

}
.text-container h2 {
  color: rgba(82, 47, 7, 0.726);
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}
.text-container p {
  color: #292727c9;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.container2 {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}
.center-image-container2 {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px; 
  overflow: hidden; 
  margin-bottom: 40px;
}.center-image-container2 {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px; 
  overflow: hidden; 
  margin-bottom: 40px;
}
.center-image-container {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px; 
  overflow: hidden; 
  transition: transform 0.8s ease-in-out; 
  margin-top: 100px; 
  margin-bottom: 40px;
}
.center-image {
  width: 100%;
  height: auto;
  display: block; 
}
.center-image-container:hover {
  transform: scale(1.1); 
}
.cancel-button3{
  display: inline-block; 
  width: auto; 
  padding: 10px 20px;
  background-color: rgba(82, 47, 7, 0.726);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  margin-bottom: 100px;
  font-size: 20px;

}

.cancel-button3:hover {
  background-color: #ffffff; 
  color: rgba(82, 47, 7, 0.726);
  border: 1px solid rgba(82, 47, 7, 0.726);
}